// Banner Styling
body:not(.topic-banners) {
  .topic-banner-container {
    display: none;
  }
}
body.topic-banners {
  .topic-banner-container {
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $banner-bg-color;
    max-width: 1024px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 2rem;
  }
}
